/* Build your CSS from scratch in this file */
*{
    margin:0px;
    padding:0px;
    outline: 1px dashed red;
}
#wrapper{
    width: 1000px;
    padding: 20px;
    background-color: rgb(6, 39, 100);
    border:1px;
}
#header{
    background-color: red;
    /* margin: 15px; */
    padding: 10px;
    border:1px;
    border-radius:5px;

}
#side_nav{
    background-color: aqua;
    display: inline-block;
    border:1px;

}
#main_content{
    display: inline-block;
    background-color: aquamarine;
    border-radius:5px;
    
}
ul li{
    
}