/* Build your CSS from scratch in this file */
*{
    margin:0px;
    padding:0px;
    /* outline: 1px dashed red; */
}
#wrapper{
    width: 970PX;
    padding: 20px;
    background-color: rgb(6, 39, 100);
}
#header{
    background-color: red;
    padding: 10px;
    border:1px;
    border-radius:15px;
    margin: 10px;   

}
#side_nav{
    background-color: aqua;
    display: inline-block;
    border-radius:15px;
    width: 230px;
    padding: 20px;
    font-size: 12px;
    vertical-align: top;
    margin: 10px;
}
    #side_nav ul{
        padding-left: 10px;
    }
#main_content{
    display: inline-block;    
    background-color: aquamarine;
    border-radius:15px;
    padding: 20px;
    width: 610px;
    margin: 10px;

    
}

#footer{
    background-color: grey;
    text-align: left;
    text-decoration: whitesmoke;
    padding: 15px;
    border-radius: 15px;
}